.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 20px;
    width: 100%;
}

.command {
    border-right: solid 1px;
    flex: 1;
}

.logs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.command-slave {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1
}

.flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.command-list {
    margin-top: 20px;
    border-top: solid 1px;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

.command-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    width: 100%;
}

.command-hash {
    flex: 1;
}

.form {
    display: flex;
    flex-direction: column;
}